.home {

  .nav-and-logo{
    .trim-center();

  }

  .welcome{

    img{

      border-top: 2px dashed @navigation-border;
      padding: 0 10%;
    }

    h1{
       padding: 2rem 10% 0 10%;
    }

    p{
      padding: 0 10% 2rem 10%;
    }
  }
  .content-section {
    border-top: 2px dashed @navigation-border;
    .trim-center2();
    .mydisplay(flex, row, wrap, space-between, flex-start);

     @media @mobile{
      .mydisplay(flex, column, nowrap, flex-start, space-around);
    }



    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile{
        width:100%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media @mobile{
        width:100%;
      }

      img {
        border-radius: 10px;
      }
    }
  }


  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    @media @mobile{
     .mydisplay(flex, column-reverse, nowrap, flex-start, space-around);
   }


    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }

    .content-destination-child{
      .trim-center();
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    .mydisplay(flex, row, nowrap, space-between, flex-end);
    .trim-center2();
    @media @mobile{
      .mydisplay(flex, column, nowrap, flex-start, space-around);
    }
    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media @mobile{
        width:100%;
      }
    }
  }
}// home
